.figure-image {
    border: solid 1px black;
    padding: 10px;
}

a.figure-image, a.figure-image:link, a.figure-image:hover {
    border: none;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/* usage:
 *
 *  Declare
 *
 *      ..role:: red-text
 *
 *  somewhere in the document and anywhere where
 *  you want to apply this:
 *
 *      The traditional phrase is: red-text:`hello, world'
 *
 */
.red-text {
    text-color: red;
}

.program {
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
    color: darkcyan;
}
.filepath {
    font-family: monospace;
    font-weight: bold;
    color: darkgreen;
    background: #eeeeee;
}
.filepath:before {
    /* content: open-quote; */
    content: "'";
    color: black;
    font-weight: normal;
}
.filepath:after {
    /* content: close-quote; */
    content: "'";
    color: black;
    font-weight: normal;
}

/* usage:
 *
 *      ..  rst-class:: figure-caption
 *
 *          This is the block to which
 *          the class will be applied.
 */
.figure-caption {
    border: solid 1px black;
    font-size: x-small ;
    font-style: italic ;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-top: 0px;
    text-align: left;
    font-weight: bold;
    margin-top: 0px;
    border: none;
}

.framebox {
    padding: 5px;
    border: solid 1px black;
    display: block;
}

.center {
    text-align: center;
}

.small-text {
    font-size: x-small ;
}

table.compressed-table {
    margin: 0px;
    padding: 0px;
}

table.compressed-table tr {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

table.compressed-table td {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

table.compressed-table p, table.compressed-table ul {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

table.compressed-table ul {
    margin-left: 1em;
}
